<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muicvtools.mutils"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        >

        <activity android:name="us.shandian.giga.ui.DownloadActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name="com.muicvtools.mutils.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <service android:name="us.shandian.giga.service.DownloadManagerService"
            android:exported="false"/>

        <activity android:name="us.shandian.giga.error.ReCaptchaActivity"
            android:exported="false"/>
        <activity android:name="us.shandian.giga.util.FilePickerActivityHelper"
            android:exported="false"
            android:theme="@style/NNF_BaseTheme"/>
        <activity android:name=".AdOverlayActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/nnf_provider_paths" />
        </provider>

    </application>


</manifest>